* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.nav-section{
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1600px;
background-color: white;
margin: 0 auto;
padding: 16px 120px;
}

.menu{
display: flex;
list-style: none;
gap: 32px;
align-items: center;
}

.menu li a{
text-decoration: none;
color: #000000;
font-size: 16px;
font-weight: 500;
}

.btn{
background-color: #469165;
border: none;
border-radius: 6px;
padding: 12px 16px;
font-size: 16px;
font-weight: 600;
color: white;
cursor: pointer;
transition: 0.3s;
}

.btn:hover{
   background-color: #3c7e59;
}

