* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Nav Bar Section */
.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  background-color: white;
  margin: 0 auto;
  padding: 16px 120px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 32px;
  align-items: center;
}

.menu li a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}

.btn {
  background-color: #469165;
  border: none;
  border-radius: 6px;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #3c7e59;
}

/* Main Content Hero Banner Section  */
.banner {
  background-image: url(../assets/hero-bg.png);
  max-width: 1600px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  padding: 154px 0 179px;
}

.banner-content {
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
}

.button-container {
  background-color: #FFFFFF;
  border: none;
  border-radius: 50px;
  padding: 8px 12px 8px 34px;
  font-size: 16px;
  color: #469165;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 16px;
  padding: 8px 12px;
}

.button-container span {
  width: 8px;
  height: 8px;
  background-color: #469165;
  box-shadow: 0 0 0 5px rgba(70, 145, 101, 0.2);
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}

/* h1 and p styles  */
.heading-text {
  color: #ffffff;
  font-size: 64px;
  margin-bottom: 16px;
  margin: 0 auto;
  font-weight: bold;
  margin-bottom: 16px;
}

.green {
  color: #30B868;
}

.paragraf {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  margin: 0 auto;
  font-weight: 400;
  max-width: 50%;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  gap: 16px;
}

.green-btn {
  background-color: #469165;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 14px 22px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: 16px 16px;
}

.white-btn {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  padding: 14px 22px;
  font-size: 16px;
  font-weight: 600;
  align-items: center;
  cursor: pointer;
  padding: 16px 16px;
}
/* note section  */
.note-section{
max-width: 1600px;
margin: 0 auto;
}

.note-container h2{
font-size: 48px;
font-weight: bold;
text-align: center;
margin-top: 30px;
color: #001931;
}

.note-container p{
font-size: 16px;
line-height: 20px;
text-align: center;
margin-top: 16px;
color: #627382;
margin-bottom: 44px;
}

.card-container{
display: flex;
gap: 24px;
justify-content: center;
margin-top: 50px;
padding: 0 120px;
}

.note-card{
max-width: 322px;
background-color: #FFFFFF;
box-shadow: 0 0 8px 0 #F3F4F6;
border-radius: 16px;
text-align: center;
border: 1px solid #F3F4F6;
padding: 0 24px 20px;
}

.note-icon{
  width: 60px;
  height: 60px;
  border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
margin: 40px auto 16px;
background-color: #F95555;
}

.note-card h3{
color: #001931;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 20px;
}

.note-card p{
color: #627382;
font-size: 16px;
line-height: 20px;
padding: 0 24px;
}

/* brain section  */
.brain-section{
display: flex;
align-items: center;
justify-content: space-between;
max-width: 1360px;
gap: 60px;
margin: 120px;
}

.brain-img img{
    width: 600px;
height: 600px;
object-fit: contain;
}

.brain-title{
color: #469165;
  font-weight: 500px;
    font-size: 16px;
    line-height: 20px;
    display: block;
    margin-bottom: 12px;
}

.brain-content h2{
color: #001931;
font-size: 40px;
font-weight: bold;
margin-bottom: 16px;
}

.description{
  color: #627382;
font-size: 15px;
line-height: 20px;
margin-bottom: 40px;
}

.brain-list li{
  display: flex;
list-style: none;
align-items: center;
gap: 6px;
color: #001931;
font-size: 16px;
font-weight: 500px;
margin-bottom: 16px;
}

/* challenge section  */
.Early-section{
display: flex;
justify-content: center;
text-align: center;
}
.box{
background-color: #F7F6F2;
padding: 80px 40px;
margin: 0 auto;
width: 82%;
padding: 120px;
border-radius: 10px;
}

.box button{
display: inline-flex;
align-items: center;
gap: 10px;
}

.box h2{
  font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.box p{
font-size: 16px;
color: #627382;
line-height: 24px;
margin: 0 auto;
margin-bottom: 24px;
}

.last-btn{
background-color: #469165;
color: #ffffff;
padding: 16px;
border: none;
border-radius: 5px;
margin-bottom: 16px;
cursor: pointer;
font-size: 16px;
font-weight: 500px;
gap: 10px;
}

.button-text{
color: #627382;
font-size: 16px;
line-height: 20px;
}


